# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs
.idea
.vscode
*.swp

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Project Specific
tests/
backup_data.json
users_backup.json
users_only.json
